*{
    margin: 0;
    padding: 0;
}


body{
    width: 100vw;
    background: #0A81AB;
    font-family: 'Noto Sans JP', sans-serif;

    position: relative;
    /* background:#ffffff; */
    cursor: none;  /*カーソル非表示*/
    height:100vh;

  }
  
  #cursor{
    position: fixed;
    /* background: #000000; */
    border-radius:10px;
    width: 20px;
    height: 20px;
    margin: -45px 0 0 -60px;

    
  
    z-index: 4;
    pointer-events: none;
    opacity: 0;
  }

  
  
  #loading{
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 100;
      background-color: #0C4271;
  }
  
  #loading2{
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 90;
      background-color: #0A81AB;
  }

  #loading3{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 80;
    background-color: #0C4271;
}


#header{
    width: 40%;
    height: 100%;
    overflow: hidden;
    background: #ececec;
    padding: 6px 0px;
    font-family: 'Oswald', sans-serif;

          position: fixed;
          top: 0;
          z-index: 2; 
}

#header h1{
    color: #da6a38;
    margin-left: 6%;
    font-size: 70px;
}



nav{
    overflow: hidden;
    margin-top: 100px;
}

nav li{
    list-style-type: none;
    margin-top: 20px;
    margin-left: 6%;
}

nav a{
    font-size: 55px;
    display: block;
    text-decoration: none;
    color: #0A81AB;
    margin: 14px 8px 0px;
    transition: 0.2s;
}

nav a:hover{
    /* border-bottom: 10px solid #ffc947 ; */
    color: #2E499D;
    transform:scale(1.1,1.1);
}

.main-visual{
width: 100%;
height: 100%;
background-color: #dddddd;
/* background: #dddddd url(ezgif.com-gif-maker.png) 0  0 no-repeat; */
background-size: contain;
margin: 0 auto;
background-position-x: center;
background-position-y: center;
}

.main-visual img{
    position: absolute;
    top: 30%;
    left: 60%;
}

.main-visual .cat-b{
    opacity: 1;
}

.main-visual:hover .cat-b{
    opacity: 0;
}

.main-visual .cat{
    opacity: 0;
}

.main-visual:hover .cat{
  opacity: 1;
}

.main{
    width: 608px;
    overflow: hidden;
    background: #0A81AB;
    padding: 16px;
    position: relative;
    top: auto;
    left:350px ;
}

.wrapper{
    width: 640px;
    margin: 0 auto;
}

.content{
    padding-bottom: 50px;
    color: #f9f9f9;
background-color: #0A81AB;
margin: 20px;
/* border: 10px solid #ffc947; */
border-radius: 10px;
    font-size: larger;
}

img{
    float: left;
}

/* #header,
.content,
.main-visual,
.main-visual:hover{
    animation-name: fadeInAnime;
    animation-duration: 5s;
    animation-fill-mode:forwards;
    opacity: 0;
}
@keyframes fadeInAnime{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
    
} */
/*keyframesは「fromからto」で最初と最後だけ指定。0%から100%など細かい数字もできるみたい*/

#content1 p{
    font-size: 23px;
}




#footer-link{
    display: none;
}

footer{
    font-family: 'Oswald', sans-serif;
    color: #F9DFDC;
    text-align: center;
    background-color: #0A81AB;
}





/* ここからスマホ用 */
@media screen and (max-width:480px) {

    body{
        overflow-x: hidden;
        z-index: -5;
    }


    #header{
        width: 100%;
        height: 15%;
    }

    #header h1{
 font-size: 60px;
 width: 10%;
 margin-top: 10px;
 margin-left: 75px;
}

nav{
    display: none;
}
ul{
    display: none;
}

.main{
    position: relative;
    top: auto;
    left:0px ;
    
}

   .main-visual,
   .main-visual:hover{
       width: 110vw;
   }

   .cat,
   .cat-b{
       margin-left: -65%;
   }

.content{
 /* width: 80vw; */
 font-size: 15px;
 width: 80vw;
 margin-left: 5%;
}

#content1 p{
   font-size: 18px;
}
#content1 img{
    float : none;
}


footer{
width: 90vw;
margin-left:0%;
}

}