*{
    margin: 0;
    padding: 0;
}


body{
    width: 100%;
    background: #0C4271;
    font-family: 'Noto Sans JP', sans-serif;

    position: relative;
    /* background:#ffffff; */
    cursor: none;  /*カーソル非表示*/
    height:100vh;

  }
  
  #cursor{
    position: fixed;
    /* background: #000000; */
    border-radius:10px;
    width: 20px;
    height: 20px;
    margin: -45px 0 0 -60px;

    
  
    z-index: 4;
    pointer-events: none;
    opacity: 0;
  }

  
  
  #loading{
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 100;
      background-color: #0C4271;
  }
  
  #loading2{
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 90;
      background-color: #0A81AB;
  }

  #loading3{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 80;
    background-color: #0C4271;
}


#header{
    width: 100%;
    overflow: hidden;
    background: #0A81AB;
    padding: 6px 0px;
    font-family: 'Oswald', sans-serif;

          position: fixed;
          top: 0;
          z-index: 2; 
}

#header h1{
    float: left;
    color: #ffffff;
    margin-right: 48px;
    font-size: 80px;
}



nav{
    overflow: hidden;
    margin-top: auto;
}

nav li{
    list-style-type: none;
    float: left;
    margin-top: 14px;
}

nav a{
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: #F9DFDC;
    margin: 14px 16px 0px;
    transition: 0.2s;
}

nav a:hover{
    border-bottom: 3px solid #ffc947 ;
}

.main-visual{
width: 100%;
height: 500px;
background: #0A81AB url(ezgif.com-gif-maker.png) 0  0 no-repeat;
background-size: contain;
margin: 0 auto;
background-position-x: center;
background-position-y: center;
}

.main-visual:hover{
    width: 100%;
    height: 500px;
    background:#0A81AB url(ezgif.com-gif-maker2.png) 0  0 no-repeat;
    background-size: contain;
    margin: 0 auto;
    background-position-x: center;
    background-position-y: center;
}


#main{
    width: 608px;
    margin: 0 auto;
    overflow: hidden;
    background: #0C4271;
    padding: 16px;
    float: left;
}

.wrapper{
    width: 640px;
    margin: 0 auto;
}

.content{
    padding-bottom: 50px;
    color: #f9f9f9;
background-color: #0C4271;
margin: 20px;
/* border: 10px solid #ffc947; */
border-radius: 10px;
    font-size: larger;
    position: relative;
}

img{
    float: left;
}

#header,
.content,
.main-visual,
.main-visual:hover{
    animation-name: fadeInAnime;
    animation-duration: 5s;
    animation-fill-mode:forwards;
    opacity: 0;
}
@keyframes fadeInAnime{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
    
}
/*keyframesは「fromからto」で最初と最後だけ指定。0%から100%など細かい数字もできるみたい*/

#content1 p{
    font-size: 23px;
}




#footer-link{
    display: none;
}

footer{
    font-family: 'Oswald', sans-serif;
    color: #F9DFDC;
    text-align: center;
    background-color: #0A81AB;
}

/* ここからスマホ用 */
@media screen and (max-width:480px) {

    body{
        overflow-x: hidden;
    }

#header h1{
 font-size: 60px;
 width: 10%;
 margin-top: 10px;
 margin-left: 75px;
}

#header a{
    width: 20%;
}
ul{
    display: none;
}

   .main-visual,
   .main-visual:hover{
       width: 100vw;
   }
.content{
 width: 80vw;
 font-size: 15px;
}

#content1 p{
   font-size: 18px;
}
#content1 img{
    float : none;
}


footer{
width: 90vw;
}

}